<div ng-controller="GenteController">
	<div ng-include="'views/progressBar.html'" ng-show="uiState == 'loading'"></div>

	<div class="jumbotron" ng-show="uiState == 'blank'">
		<p class="lead" >No existen datos.</p>
	</div>  
	<h1 ng-show="uiState == 'ideal'">Gente</h1>
	<usuarios-items items="model"></usuarios-items>

	<div class="container">
		<div class="row">
			<nav>
			  <ul class="pager">
			    <li><a class="paginacion" ng-click="previusPaginacion()" href="" ng-hide="empiece == 0">Anterior</a></li>
			    <li><a class="paginacion" ng-click="nextPaginacion()" href="" ng-hide="sinDatos == true">Siguiente</a></li>
			  </ul>
			</nav>
		</div>
	</div>
</div>