<nav class="navbar navbar-default menu navbar-fixed-top" ng-controller="MenuController">
    <div class="container-fluid" ng-if="view != 'login'">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#{{::paths.home}}">Gestor de Proyectos</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="getClassForItem(paths.proyectos)">
                    <a href="#{{::paths.proyectos}}">Proyectos empresa</a>
                </li>
                <li ng-class="getClassForItem(paths.proyectosUser)">
                    <a href="#{{::paths.proyectosUser}}">Tus proyectos</a>
                </li>
                <li ng-class="getClassForItem(paths.tareasUser)">
                    <a href="#{{::paths.tareasUser}}">Tus tareas</a>
                </li>
                <li ng-class="getClassForItem(paths.gente)">
                    <a href="#{{::paths.gente}}">Gente</a>
                </li>
            </ul>
            
            <button class="btn btn-danger pull-right logout"  ng-click="logout()">Log Out</button>
            <a href="#{{::paths.nuevoProyecto}}" class="btn pull-right btn-primary logout">Añadir Proyecto</a>
        </div>
    </div>
</nav>