<div ng-controller="ModificarProyectoController">

	<div ng-include="'views/progressBar.html'" ng-show="uiState == 'loading'"></div>

	<div class="jumbotron" ng-show="uiState == 'blank'">
		<p class="lead">No existen datos.</p>
	</div>   

	<h1>Modificar proyecto: </h1>
	<form name="modificarProyectoForm" novalidate class="form-horizontal">
        <div class="col-sm-10">
            <div class="form-group">
                <label for="nombre" class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-10" >
                    <input type="text" name="nombre" class="form-control" ng-model="model.nombre" required>
                    <div ng-show="modificarProyectoForm.nombre.$dirty && modificarProyectoForm.nombre.$error.required" class="alert alert-danger alert-dismissible" role="alert">
                      <strong>El nombre es obligatorio</strong> 
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="miembros" class="col-sm-2 control-label">Miembros</label>
                <div class="col-sm-10" >
                    <input type="text" name="miembros" class="form-control" ng-model="model.miembros" required>
                    <div ng-show="modificarProyectoForm.miembros.$dirty && modificarProyectoForm.miembros.$error.required" class="alert alert-danger alert-dismissible" role="alert">
                      <strong>Algún miembro es obligatorio, recuerda metertete tú como miembro</strong> 
                    </div>
                </div>
            </div>
            <div role="alert" class="alert alert-warning alert-dismissible">
          		<strong>Mete los miembros separados por comas sin dejar espacios</strong> 
            </div>
            

            <div>
                <button class="btn btn-primary pull-right" ng-disabled="modificarProyectoForm.$invalid" ng-click="modificarProyecto()">Modificar el Proyecto</button>
                <button class="btn btn-primary pull-right boton-registro" ng-click="volver()">Volver</button>
            </div>
        </div>

    </form>
	

</div>