<div ng-controller="NuevoProyectoController">

    <div ng-include="'views/progressBar.html'" ng-show="uiState == 'loading'"></div>

    <div class="jumbotron" ng-show="uiState == 'blank'">
        <p class="lead">No existen datos.</p>
    </div>   
    <h1>Nuevo Proyecto</h1>
    <form name="nuevoProyectoForm" novalidate class="form-horizontal">
        <div class="col-sm-10">
            <div class="form-group">
                <label for="nombre" class="col-sm-2 control-label">Nombre</label>
                <div class="col-sm-10" >
                    <input type="text" name="nombre" class="form-control" ng-model="model.nombre" required>
                    <div ng-show="nuevoProyectoForm.nombre.$dirty && nuevoProyectoForm.nombre.$error.required" class="alert alert-danger alert-dismissible" role="alert">
                      <strong>El nombre es obligatorio</strong> 
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="miembros" class="col-sm-2 control-label">Miembros</label>
                <div class="col-sm-10" >
                    <input type="text" name="miembros" class="form-control" ng-model="model.miembros" required>
                    <div ng-show="nuevoProyectoForm.miembros.$dirty && nuevoProyectoForm.miembros.$error.required" class="alert alert-danger alert-dismissible" role="alert">
                      <strong>Algún miembro es obligatorio, recuerda metertete tú como miembro si así lo deseas.</strong>
                    </div>
                    <div ng-show="nuevoProyectoForm.miembros.$dirty" role="alert" class="alert alert-warning alert-dismissible">
                        <strong>Mete los miembros separados por comas sin dejar espacios</strong> 
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="fecha" class="col-sm-2 control-label">Fecha de entrega</label>
                <div class="col-sm-10" >
                    <input type="date" name="fecha" class="form-control" ng-model="formatoFecha" required>
                    <div ng-show="nuevoProyectoForm.fecha.$dirty && nuevoProyectoForm.fecha.$error.required" class="alert alert-danger alert-dismissible" role="alert">
                      <strong>Debes poner una fecha de entrega para el proyecto.</strong> 
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label">Tareas</label>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Añadir
                </button>

            </div>

            <div class="container">
                <div class="row">
                    <div>
                        <ul ng-repeat="item in tareasSumadas">
                            <div class="col-md-2">
                        
                            </div>
                            <li>
                                {{item}}
                            </li>
                        </ul>
                    </div>


                </div>

                
            </div>

            

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Descripción de la tarea</h4>
                  </div>
                  <div class="modal-body">
                    <input type="text" name="tareas" class="form-control" ng-model="model.tareas">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" type="submit" ng-click="sumarTarea()">Añadir tarea</button>
                  </div>
                </div>
              </div>
            </div>

            <div>
                <button class="btn btn-primary pull-right" type="button" ng-disabled="nuevoProyectoForm.$invalid" ng-click="sumarProyecto()">Añadir Proyecto</button>
                <button class="btn btn-primary pull-right boton-registro" type="button" ng-click="volver()">Volver</button>

            </div>
        </div>

    </form>
</div>
