<div ng-controller="ProyectosUsuarioController">

	<div ng-include="'views/progressBar.html'" ng-show="uiState == 'loading'"></div>

	<div class="jumbotron" ng-show="uiState == 'blank'">
		<p class="lead">No existen datos.</p>
	</div>   
	
	<proyectos-items items="model" ng-show="uiState =='ideal'" get-detail-url="getMovieDetailURL(stuff)" modo="proyectos_user" usuario="usuario"></proyectos-items> 

	<div class="container">
		<div class="row">
			<nav>
			  <ul class="pager">
			    <li><a class="paginacion" ng-click="previusPaginacion()" href="" ng-hide="empiece == 0">Previous</a></li>
			    <li><a class="paginacion" ng-click="nextPaginacion()" href="" ng-hide="sinDatos == true">Next</a></li>
			  </ul>
			</nav>
		</div>
	</div>

</div>