<div>
	
	<h1 class="lista-proyectos" ng-hide="modo == 'proyectos_user'">Listado de los proyectos de la empresa: </h1>
	<h1 class="lista-proyectos" ng-show="modo == 'proyectos_user'">Listado de los proyectos de {{usuario}}: </h1>
	<br>
	<br>
   	<br>

	<ul class="media-list" ng-repeat="item in model">
	  <li class="media lista-proyectos">
	    <div class="media-body">
			<h3 class="media-heading">Proyecto: <strong>{{ item.nombre }}</strong></h3>
			<br>
			<p><strong>Fecha de entrega:</strong> {{::item.fecha }}</p>

			<p><strong>Miembros:</strong> {{ item.miembros | join }}</p>

			<img ng-src="http://www.babel.es/sites/default/files/imageblock/logo.png" width="100px"
    		height="120px" class="media-object imagenBabel">

			<a href="#{{::getDetailUrl({stuff: item})}}" ng-show="modo == 'proyectos_user'" class="btn btn-primary">
				Ver proyecto en detalle
			</a>

	    </div>
	    <br>
	    <br>
	    <br>
	  </li>
	</ul>
</div>
