<div class="listadoTareas">
    
        <div class="col-md-4 columna">
            <h3 class="hTareas">Tareas todavia sin asignar</h3>
            <br>
            <div ng-repeat="item in model" class="tareaTabla" ng-if="item.estado == 'NoAsignada'">
                <p class="pTabla"><strong>{{::item.tarea}}</strong></p>
                <br>
                <p class><strong>Proyecto: </strong>{{item.proyecto}}</p>
                <p class><strong>Propietario: </strong>{{item.propietario}}</p>
                <h4><span class="label label-danger" ng-if="item.estado == 'NoAsignada'">Sin asignar</span></h4>
                <h4><span class="label label-success" ng-if="item.estado == 'Finalizada'">{{item.estado}}</span></h4>
                <h4><span class="label label-primary" ng-if="item.estado == 'Empezada'">{{item.estado}}</span></h4>

                <button class="btn btn-danger pull-right" ng-hide="modo == 'noDetalle'" ng-click="borrarTarea({tarea:item})"><i class="fa fa-trash-o"></i></button>
                <button class="btn btn-primary pull-right btn-empezarTarea" ng-if="item.estado == 'NoAsignada'" ng-click="cambioTarea({stuff:item, user:usuario})"><i class="fa fa-play"></i></button>
                <button class="btn btn-primary pull-right btn-empezarTarea" ng-if="item.estado == 'Empezada' && item.propietario == usuario" ng-click="cambioTarea({stuff:item, user:usuario})"><i class="fa fa-check"></i></button>
                

            </div>
        </div>

        <div class="col-md-4 columna">
            <h3 class="hTareas">Tareas haciendose</h3>
            <br>
            <div ng-repeat="item in model" class="tareaTabla" ng-if="item.estado == 'Empezada'">
                <p class="pTabla"><strong>{{::item.tarea}}</strong></p>
                <br>
                <p class><strong>Proyecto: </strong>{{item.proyecto}}</p>
                <p class><strong>Propietario: </strong>{{item.propietario}}</p>
                <h4><span class="label label-danger" ng-if="item.estado == 'NoAsignada'">Sin asignar</span></h4>
                <h4><span class="label label-success" ng-if="item.estado == 'Finalizada'">{{item.estado}}</span></h4>
                <h4><span class="label label-primary" ng-if="item.estado == 'Empezada'">{{item.estado}}</span></h4>

                <button class="btn btn-danger pull-right" ng-hide="modo == 'noDetalle'" ng-click="borrarTarea({tarea:item})" ><i class="fa fa-trash-o"></i></button>
                <button class="btn btn-primary pull-right btn-empezarTarea" ng-if="item.estado == 'NoAsignada'" ng-click="cambioTarea({stuff:item, user:usuario})"><i class="fa fa-play"></i></button>
                <button class="btn btn-primary pull-right btn-empezarTarea" ng-if="item.estado == 'Empezada' && item.propietario == usuario" ng-click="cambioTarea({stuff:item, user:usuario})"><i class="fa fa-check"></i></button>
                
             

            </div>
        </div>

        <div class="col-md-4 columna">
            <h3 class="hTareas">Tareas finalizadas</h3>
            <br>
            <div ng-repeat="item in model" class="tareaTabla" ng-if="item.estado == 'Finalizada'">
                <p class="pTabla"><strong>{{::item.tarea}}</strong></p>
                <br>
                <p class><strong>Proyecto: </strong>{{item.proyecto}}</p>
                <p class><strong>Propietario: </strong>{{item.propietario}}</p>
                <h4><span class="label label-danger" ng-if="item.estado == 'NoAsignada'">Sin asignar</span></h4>
                <h4><span class="label label-success" ng-if="item.estado == 'Finalizada'">{{item.estado}}</span></h4>
                <h4><span class="label label-primary" ng-if="item.estado == 'Empezada'">{{item.estado}}</span></h4>

                <button class="btn btn-danger pull-right" ng-hide="modo == 'noDetalle'" ng-click="borrarTarea({tarea:item})" ><i class="fa fa-trash-o"></i></button>
                <button class="btn btn-primary pull-right btn-empezarTarea" ng-if="item.estado == 'NoAsignada'" ng-click="cambioTarea({stuff:item, user:usuario})"><i class="fa fa-play"></i></button>
                <button class="btn btn-primary pull-right btn-empezarTarea" ng-if="item.estado == 'Empezada' && item.propietario == usuario" ng-click="cambioTarea({stuff:item, user:usuario})"><i class="fa fa-check"></i></button>
               

            </div>
        </div>

</div>











<!--
<div class="table-responsive">
    

<table class="table table-striped">
    <thead>
        <tr>
            <th>Tarea</th>
            <th>Proyecto</th>
            <th>Propietario</th>                        
            <th>Estado</th>
        </tr>
        
    </thead>
    <tbody>
        <tr ng-repeat="item in model">
            <td>
                <h4>{{::item.tarea}}</h4>
            </td>
            <td>
                <h4>{{::item.proyecto}}</h4>
            </td>
            <td>
                <h4>{{item.propietario}}</h4>
            </td>
            <td>
                <h4><span class="label label-danger" ng-if="item.estado == 'NoAsignada'">Sin asignar</span></h4>
                <h4><span class="label label-success" ng-if="item.estado == 'Finalizada'">{{item.estado}}</span></h4>
                <h4><span class="label label-primary" ng-if="item.estado == 'Empezada'">{{item.estado}}</span></h4>
            </td>
            <td>
               <button class="btn btn-primary boton-tarea" ng-if="item.estado == 'NoAsignada'" ng-click="cambioTarea({stuff:item, user:usuario})">Empezar tarea</button>
               <button class="btn btn-primary boton-tarea" ng-if="item.estado == 'Empezada' && item.propietario == usuario" ng-click="cambioTarea({stuff:item, user:usuario})">He terminado</button>
               <button class="btn btn-danger pull-right boton-tarea" ng-click="borrarTarea({tarea:item})"><i class="fa fa-trash-o"></i></button>
            </td>
        </tr>
    </tbody>
</table>

    
</div>
