.boton-registro{
	margin-right: 15px;
}

h1{
	color: #db4c3f !important;
}

.logout{
	margin-right: 20px;
	margin-top: 8px;
}

.menu{
	background-color: #db4c3f;	
}

.ancho{
	background-color: WhiteSmoke;
}

.imagenBabel{
	margin: 0 auto;
}

a{
	color: white !important;
}
.active{
	color:black !important;
	background-color: grey;	
}

.lista-proyectos{
	text-align: center;
}

.boton-tarea{
	margin-top: 3px;
}

.no-menu{
	padding-top: 50px;

}

.user{
	text-align: center;
	border-radius: 10%;
	background-color: #db4c3f;
}

.contenidoUser{
	padding-bottom: 10%;
    padding-top: 10%;
    margin-bottom: 10%;
}

.columna{	
	border-style: solid; 
	border-width: 4px; 
	border-color: #db4c3f;
	overflow: auto;
	padding-bottom: 1%;
}

.tareaTabla{
	
	border-bottom-style: solid; 
	border-bottom-width: 4px; 
	border-bottom-color: #db4c3f;
	border-top-style: solid; 
	border-top-width: 4px; 
	border-top-color: #db4c3f;
	overflow: auto;
	padding-bottom: 1%;
	padding-bottom: 5%;
}

.pTabla{
	padding-top: 5%;
}

.hTareas{
	color: #db4c3f;
}

.letraGente{
	color:white;
}

.btn-masTareas{
	
	margin-top: 1%;
}